/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/*This is some further normalization and base styles. */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

img {
  width: 100%;
  height: auto;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Responsive images base, put your images in a wrapper
img {
    display: block;
    width: 100%;
    height: auto;
}

/*Here's where you would put your Google Fonts import*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Sans+Pro:200,300,400,400i,600,700,900|Source+Serif+Pro:400,600,700');


/* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* END BOX MODEL SETTINGS */

h4 right{
  font-size: 16px; /* Base Size */
  /*Setting the base font family*/
  font-family: "Source Sans Pro", Verdana, sans-serif;
  margin: 0;
  padding: 0;
  text-align: right;
}
/* Full Width */
.content-band {
  width: 100%;
  /*min-height: 320px;*/
}

.sunshine {
  max-width: 30%;

}

.rotate-center {
	-webkit-animation: rotate-center 3s ease-in-out both;
	        animation: rotate-center 3s ease-in-out both;
}

.live-area {
  max-width: 900px;
  margin: 0 auto;
  /*min-height: 20px;*/
}

.content-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.left .content-wrapper {
  justify-content: flex-start;
}

.left .content-wrapper {
  justify-content: flex-end;
}

/* MOBILE STYLES */
@media only screen and (max-width: 767px) {
  .content-wrapper {
      flex-flow: column nowrap;
  }
}

.dot-image {
  width: 220px;
  height: 220px;
  flex: 0 0 auto;
}

.img {
  display: block;
  max-width:80%;
  max-height:80%;
  width: auto;
  height: auto;
}

.text-wrapper {
  flex: 1 1 50%;
}

.right .text-wrapper {
  margin-left: 25%;
  margin-right: 2em;
}

.left .text-wrapper {
  margin-right: 25%;
  margin-left: 2em;
}

/* DESKTOP ONLY */
@media only screen and (min-width: 768px) {
  .right .dot-image {
    order: 1;
  }
}

/* MOBILE STYLES */
@media only screen and (max-width: 767px) {
  .right .text-wrapper, .left .text-wrapper {
    margin-right: 2em;
    margin-left: 2em;
    text-align: center;
  }
}

.main-banner {
background-size: cover;
min-height: 550px;
background: white url('../top.svg') no-repeat center center;
background-size: 100%;
}

.main-banner h1 {
  padding-top: 110px;
  padding-bottom: 30px;
  color: #154651;
  max-width: 800px;
  margin: 0 auto;
  font-size: 60px;
  text-overflow: ellipsis;
}
.slide-fwd-center {
	-webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.main-banner zero {
  color: #154651;
  padding-top: 100px;
  font-size: 17px;
  text-align: center;
  text-overflow: ellipsis;
}

.h2 {
  color: #154651;
  padding-top: 50px;

  font-size: 16px;
  text-align: right;
}

.header {
  text-align: center;
  font-size: 50px;
  font-family: 'Ramaraja', serif;
  padding-bottom: 20px;
  padding-top: 60px;
}

.zero{
  font-size: 16px;
  text-align: center;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 20px;
  padding-left: 20px
  padding-bottom: 20px;
}

.first {
  font-size: 13px;
  text-align: right;
  color: #276a75;
  width: inherit;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  background: white url('../one.jpg') no-repeat center center;
  background-size: cover;
}

.second {
    font-size: 13px;
    text-align: left;
    color: #276a75;
    width: inherit;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 20px;
    background: white url('../two.jpg') no-repeat center center;
    background-size: cover;
  }

.content-band .third {
  min-height: 130px;
}

  .third {
    font-size: 13px;
    text-align: right;
    color: #276a75;
    width: inherit;
    font-family: 'Source Sans Pro', sans-serif;
    background: white url('../three.svg') no-repeat center center;
    background-size: cover;
  }
  .fourth {
    font-size: 13px;
    text-align: left;
    color: #276a75;
    width: inherit;
    font-family: 'Source Sans Pro', sans-serif;
    background: white url('../four.svg') no-repeat center center;
    background-size: cover;
  }

  .fifth {
    font-size: 13px;
    text-align: right;
    color: #276a75;
    width: inherit;
    font-family: 'Source Sans Pro', sans-serif;
    background: white url('../five.svg') no-repeat center center;
    background-size: cover;
  }

.sixth {
    font-size: 13px;
    text-align: left;
    color: #f0f7f6;
    width: inherit;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 20px;
    background: white url('../six.svg') no-repeat center center;
    background-size: cover;
  }

.seven {
    font-size: 13px;
    text-align: right;
    color: #f0f7f6;
    width: inherit;
    font-family: 'Source Sans Pro', sans-serif;
    background: white url('../seven.svg') no-repeat center center;
    background-size: cover;
  }

.eight {
    font-size: 13px;
    text-align: left;
    color: #c3e6e6;
    width: inherit;
    font-family: 'Source Sans Pro', sans-serif;
    background: white url('../eight.svg') no-repeat center center;
    background-size: cover;
  }

.nine {
    font-size: 13px;
    text-align: right;
    color: #c3e6e6;
    width: inherit;
    font-family: 'Source Sans Pro', sans-serif;
    background: white url('../nine.svg') no-repeat center center;
    background-size: cover;
  }

  .ten {
      font-size: 13px;
      text-align: left;
      color: #c3e6e6;
      min-height: 370px;
      width: inherit;
      font-family: 'Source Sans Pro', sans-serif;
      background: white url('../ten.svg') no-repeat center center;
      background-size: cover;
    }



  .wave {
    background: white url('../waveone.png') no-repeat center center;
    background-size: cover;
    flex: 0 0 auto;
    display: inline flex;
  }

/*Here's a sample media query for you. This one is for desktop styles.*/
/*@media only screen and (min-width: 960px) {

}

/* ----------------------------------------------
 * Generated by Animista on 2017-11-10 18:50:12
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Use this clearfix class on the parent of floated elements to clear the float! */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
